<mat-card class="project-card" [ngStyle]="projectCardImage">
    <mat-card-content>
        <span class="card-badge">2025</span>
        <mat-card-title class="card-title">{{project().name}}</mat-card-title>
        <div class="chip-group">
            <div class="card-chip">
                <img src="/icons/react-icon.png" alt="icon" class="card-chip-img">
            </div>
            <div class="card-chip">
                <img src="/icons/react-icon.png" alt="icon" class="card-chip-img">
            </div>
            <div class="card-chip">
                <img src="/icons/react-icon.png" alt="icon" class="card-chip-img">
            </div>
        </div>
    </mat-card-content>
</mat-card>