# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

###############
#Backend file
# Build Folders
bin/
obj/

# User-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Rider and VS Code directories
.idea/
.vscode/

# Dependencies
packages/

# Environment files
.env

# Debugging
*.pdb
*.mdb
*.ilk
*.tlog

# Publish Output
publish/

# Resharper and other JetBrains tools
*.DotSettings.user

# NuGet
*.nupkg
.nuget/

# Secrets
secrets.json

# Other
Thumbs.db
Desktop.ini
appsettings.json
appsettings.*.json
program.cs