.skill-section {
  margin-top: 4rem;
  margin-bottom: 3rem;
} 
.skill-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));;
  gap: 2.5rem
}
.skill-item {
    width: 130px;
    display: flex;
    align-items: center;
}
.skill-image {
  width: 100%;
  object-fit: cover;
}