<div class="skill-section" id="skill-section">
    <h2>Technologies I Work with</h2>
    <div class="skill-content">
        <div class="skill-item">
            <img src="/assets/react.png"
                alt="Photo profile" class="skill-image">
        </div>
        <div class="skill-item">
            <img src="/assets/next.png"
                alt="Photo profile" class="skill-image">
        </div>
        <div class="skill-item">
            <img src="/assets/node.png"
                alt="Photo profile" class="skill-image">
        </div>
        <div class="skill-item">
            <img src="/assets/angular.png"
                alt="Photo profile" class="skill-image">
        </div>
        <div class="skill-item">
            <img src="/assets/net.png"
                alt="Photo profile" class="skill-image">
        </div>
        <div class="skill-item">
            <img src="/assets/firebase.png"
                alt="Photo profile" class="skill-image">
        </div>
        <div class="skill-item">
            <img src="/assets/mongodb.webp"
                alt="Photo profile" class="skill-image">
        </div>
        <div class="skill-item">
            <img src="/assets/sql.webp"
                alt="Photo profile" class="skill-image">
        </div>
    </div>
</div>