<div class="contact-section" id="contact-section">
    <h2>Let's Work Together</h2>
    <p>We're open to try, project and rolbpgions Fee to reach to rout for or just to say</p>
    <div class="contact-content">
        <div class="contact-left">
            <p>Email: {{'hangnguyen118.wy@gmail.com'}}</p>
            <p>Phone: (+84) 0327 840 518</p>
            <div class="group-icon">
                <a mat-icon-button href="https://github.com/hangnguyen118">
                    <img mat-card-avatar src="/assets/github.jpg" alt="Photo profile" class="social-item">
                </a>
                <a mat-icon-button href="https://www.linkedin.com/in/hangnguyen118/">
                    <img mat-card-avatar src="/assets/linked.webp" alt="Photo profile" class="social-item">
                </a>
                <a mat-icon-button href="mailto:hangnguyen118.wy@gmail.com">
                    <img mat-card-avatar src="/assets/gmail.webp" alt="Photo profile" class="social-item">
                </a>
            </div>
        </div>
        <mat-card class="contact-right">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Your name" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="example@gmail.com" required />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Message</mat-label>
                <input matInput placeholder="Your message" />
            </mat-form-field>
            <button mat-stroked-button>Send Message</button>
        </mat-card>
    </div>
</div>