<div class="hero">
    <div class="hero-image">
        <img mat-card-avatar src="/assets/avatar.jpg" alt="Photo profile" class="avatar">
    </div>
    <h2 style="white-space: pre-line;">{{title}}</h2>
    <p style="white-space: pre-line;">{{descriptions}}</p>
    <div class="button-group">
        <a mat-flat-button href="#projects-section">
            <span>View Projects</span>
        </a>
        <a mat-stroked-button href="#contact-section">
            <span>Contact Me</span>
        </a>
    </div>
</div>