<div class="hero">
    <div class="hero-image">
        <img mat-card-avatar src="/assets/hero.jpg" alt="Photo profile" class="avatar">
    </div>
    <h2>I'm Hang, fullstack web developer.
        <br>
        Code your dreams and let it lead you to endless possibilities
    </h2>
    <p>I craft seamless, user-friendly websites that inspire creativity and innovation, <br> transforming ideas into
        interactive, beautiful digital experiences.</p>
    <div class="button-group">
        <button mat-flat-button filled-disabled-label-text-color>View Portfolio</button>
        <button mat-stroked-button>Contact Me</button>
    </div>
</div>