.content {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.app-form {
  height: fit-content;
  padding: 30px;
  margin-top: 10rem;
  width: 600px;
}
.button-row {
  display: flex;
  justify-content: space-between;
}
mat-form-field {
    width: 100%;
}
