<div class="about-section" id="about-section">
    <div class="about-text">
        <h2>About me</h2>
        <p>Experienced Frontend Developer with expertise in React, Redux, Angular, JavaScript, Typescript, CSS,
            Sass, styled-components, responsive design, and web components.</p>
        <p>
            <mat-icon aria-hidden="false" aria-label="Example school icon" fontIcon="school"></mat-icon>
            B.S In Sofware Engineering Hutech University
        </p>
        <p>
            <mat-icon aria-label="Example polyline icon" fontIcon="polyline"></mat-icon>Frontend & Full-Stack Web
            Developer with expertise in React, Next.js, Angular, Node.js and .Net
        </p>
        <p>
            <mat-icon aria-hidden="false" aria-label="Example stacked_line_chart icon"
                fontIcon="snowing"></mat-icon>
            Proficient in DevOps tools like Docker, Azure Cloud, Git, Vercel.
        </p>
        <p>
            <mat-icon aria-hidden="false" aria-label="Example stacked_line_chart icon"
                fontIcon="stacked_line_chart"></mat-icon>
            Building scalable and performant application
        </p>
        <section>
            <a mat-flat-button target="_blank" href="/assets/CV_NguyenThiDieuHang.pdf">Download CV</a>
        </section>
    </div>
    <div class="about-right">
        <div class="about-card">
            <app-skill-chart></app-skill-chart>
        </div>
    </div>
</div>