<div class="content">
    <mat-card class="app-form" appearance="outlined">
        <h1>Forgotten your password?</h1>
        <form (ngSubmit)="onForgotPassword()" [formGroup]="forgotPasswordForm">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="example@gmail.com" formControlName="email" autocomplete="email" />
                @if(isInvalid(forgotPasswordForm.controls['email'])){
                <mat-error>{{getErrorMessage(forgotPasswordForm.controls['email'])}}</mat-error>
                }
            </mat-form-field>
            <div class="button-row">
                <button type="submit" mat-flat-button [disabled]="forgotPasswordForm.invalid">Continue</button>
                <button type="button" routerLink="/login" mat-stroked-button>Back to Sigin</button>
            </div>
            <div>
                <span>{{status}}</span>
            </div>
        </form>
    </mat-card>
</div>