<div class="about-section" id="about-section" >
    <div class="about-text">
        <h2>About me</h2>
        <p>Experienced Frontend Developer with expertise in React, Redux, Angular, JavaScript, Typescript, CSS,
            Sass, styled-components, responsive design, and web components.</p>
        <p><mat-icon aria-hidden="false" aria-label="Example school icon" fontIcon="school"></mat-icon>B.S In
            Sofware Engineering Hutech University</p>
        <p><mat-icon aria-label="Example polyline icon" fontIcon="polyline"></mat-icon>Full-Stack Web Developer with
            expertise in Next.js, Firebase, .Net</p>
        <p><mat-icon aria-hidden="false" aria-label="Example stacked_line_chart icon"
                fontIcon="stacked_line_chart"></mat-icon>Building scalable and performant application</p>
        <button mat-flat-button>Download CV</button>
    </div>
    <div class="about-right">
        <div class="about-card">
            <img mat-card-image src="/assets/hero.jpg" alt="Photo profile" class="about-image">
        </div>
    </div>
</div>