<div class="footer">
    <div class="group-icon">
        <a mat-icon-button href="https://github.com/hangnguyen118">
            <img mat-card-avatar src="/assets/github.jpg" alt="Photo profile" class="social-item">
        </a>
        <a mat-icon-button href="https://www.linkedin.com/in/hangnguyen118/">
            <img mat-card-avatar src="/assets/linked.webp" alt="Photo profile" class="social-item">
        </a>
        <a mat-icon-button href="mailto:hangnguyen118.wy@gmail.com">
            <img mat-card-avatar src="/assets/gmail.webp" alt="Photo profile" class="social-item">
        </a>
        <a mat-icon-button href="https://www.facebook.com/dieuhang.wy/">
            <img mat-card-avatar src="/assets/fb.png" alt="Photo profile" class="social-item">
        </a>
    </div>
    <p>{{'NGUYEN THI DIEU HANG'}}</p>
</div>